lxml==4.9.4
mkdocs==1.5.3
mkdocs-material==9.5.2
mkdocs-static-i18n==1.2.0
mkdocs-git-revision-date-localized-plugin==1.2.2
mkdocs-git-committers-plugin-2
Markdown==3.3.7
imagesize==1.4.1
docutils==0.18.1
Babel==2.12.1
cairosvg


